/* Custom fonts displyed in blog posts. */
@font-face {
    font-family: "Bookerly";
    src: url("/assets/fonts/bookerly/Bookerly.ttf");
}

@font-face {
	font-family: "Songti SC";
	src: url("/assets/fonts/Songti.ttc");
}

body {
    font-family: "Songti SC", "Bookerly", "Times New Roman";  
    font-size: 20px;  
}

